ibm-banner {
  align-items: stretch; }

section {
  padding: 0 35px; }

.mainLayout {
  display: table;
  flex-direction: row;
  width: 100%;
  height: 100%; }

.navEntry {
  padding: 0 0 3px 10px; }

.rtl {
  padding-left: 0px;
  padding-right: 10px; }

.rtl nav a {
  padding-left: 0;
  padding-right: 15px; }

nav {
  width: 175px;
  height: 100%;
  display: table-cell;
  padding: 5px 35px;
  vertical-align: top;
  white-space: nowrap;
  font-size: .9em;
  background-color: #F4F4F4; }
  nav a {
    cursor: pointer;
    text-decoration: none;
    color: #656565;
    font-weight: bold;
    padding-left: 15px; }
  nav a:hover {
    color: #29aaf1;
    text-decoration: underline; }
  nav .active {
    color: #29aaf1; }
  nav .heading {
    color: #999999;
    padding-top: 10px;
    font-size: .95em; }
